In [1]:
import pandas as pd
import json

In [2]:
data = json.load(open('data.json'))

In [3]:
tweets = pd.DataFrame(data["data"])
tweets

,author_id,created_at,id,lang,public_metrics,source,text
0,2742969912,2022-05-20T08:54:19.000Z,1527573423760760833,es,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter for iPhone,Esta pe√±a que habla del metaverso y esa basura...
1,1346869304579551232,2022-05-20T08:52:51.000Z,1527573052430729216,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter Web App,Guys does anybody know if it is possible to aq...
2,1522271818643644416,2022-05-20T08:51:11.000Z,1527572634573185024,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter for Android,RT @MyMypornphotos2: Sandra\n.\nMY PROFILE 18+...
3,1195825416872906752,2022-05-20T08:48:41.000Z,1527572005230354433,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter for iPhone,i‚Äôve played gta 5+ online for about 7 years an...
4,1425977968782766081,2022-05-20T08:48:07.000Z,1527571863148593152,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter Web App,RT @Turretedash7: (NZ) Noob gets Introduce to ...
5,2837613791,2022-05-20T08:40:43.000Z,1527569998360764418,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",WordPress.com,"News of the week in GTA Online, such as collec..."
6,37979634,2022-05-20T08:40:00.000Z,1527569818232102912,es,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter Web App,GTA Online desvela sus novedades con bonificac...
7,3676415716,2022-05-20T08:38:17.000Z,1527569386055294976,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",PlayStation¬ÆNetwork,FASTEST CAR IN GTA 5 ONLINE 1.59 (PS4)\nhttps:...
8,918072239588753409,2022-05-20T08:35:34.000Z,1527568703860408322,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter for Android,RT @SheikAkthar77: Still playing games üòÇ. But ...
9,910727624296730625,2022-05-20T08:32:36.000Z,1527567956879679489,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...",Twitter for iPhone,RT @OvOBrezzzy: Trying to finish a Gta online ...

In [4]:
metrics = pd.DataFrame(json.loads(tweets["public_metrics"].to_json()))
metrics
json.loads(tweets["public_metrics"].to_json())

{'0': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 1,
  'retweet_count': 0},
 '1': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 0},
 '2': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 1},
 '3': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 1,
  'retweet_count': 0},
 '4': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 2},
 '5': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 0},
 '6': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 0},
 '7': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 0},
 '8': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 3},
 '9': {'like_count': 0,
  'quote_count': 0,
  'reply_count': 0,
  'retweet_count': 7623}}

In [5]:
users = pd.DataFrame(data["includes"]["users"])
users

,id,location,name,protected,username,verified
0,2742969912,"Madrid, Comunidad de Madrid",Aitor,False,HiAitor,False
1,1346869304579551232,"England, United Kingdom üá¨üáß",B,False,BenW123_,False
2,1522271818643644416,NaN,ppindeceles 2,False,Josmanu37118142,False
3,1195825416872906752,NaN,eater of foods,False,adepterro_,False
4,1425977968782766081,New Plymouth New Zealand,EclipseBearttv,False,EclipseBear1,False
5,2837613791,NaN,NOUFEL,False,youishear,False
6,37979634,Espa√±a,LaPS4,False,la_ps4,True
7,3676415716,NaN,Tyrone_014,False,Tyscooters,False
8,918072239588753409,NaN,Siva ÿµŸäŸÅÿß,False,mersal07,False
9,910727624296730625,"Las Vegas, NV",AJ,False,32DirtyDan,False

In [6]:
tweets.iloc[0]["text"]

'Esta pe√±a que habla del metaverso y esa basura ¬øalguna vez ha jugado a GTA V Online? https://t.co/lj4Y5C54B2'