In [39]:
import pandas as pd
import json

In [40]:
response = ""
data = json.load(open(f"api_responses\{response}"))

In [41]:
tweets = pd.DataFrame(data["data"])
tweets = tweets[["author_id", "id", "source", "created_at", "text"]]
# drop tweets by bots:
# tweets = tweets.loc[(tweets["source"] != "Microsoft Power Platform")
                    # & (tweets["source"] != "WordPress.com")
                    # & (tweets["source"].str.contains("bot") == False)
                    # & (tweets["source"].str.contains("Bot") == False)]
tweets

,author_id,id,source,created_at,text
0,1449031849938927618,1536719956221612035,Twitter Web App,2022-06-14T14:39:23.000Z,@SadGiantsFan56 @PavePlayzYT @Minecraft Calm d...
1,1343812423162109953,1536719894351253504,Twitter for iPhone,2022-06-14T14:39:08.000Z,.@Smajor1995 day 41 of tagging Scott till he l...
2,2469266658,1536719871429554178,Twitter Web App,2022-06-14T14:39:02.000Z,me: i want to play minecraft\n\nmojang:wellfir...
3,1384778605058613249,1536719801581637632,Twitter for Android,2022-06-14T14:38:46.000Z,#MinecraftLegends with different types of effe...
4,593095677,1536719775635603456,Twitter Web App,2022-06-14T14:38:40.000Z,@oakley_mp3 @Neil_Druckmann Yeah if only that ...
...,...,...,...,...,...
95,1431476276162871297,1536717165566599168,Twitter Web App,2022-06-14T14:28:17.000Z,@deargodcosmic ayo bruh u tryna play minecraft...
96,1433709059987886093,1536717126299435010,Twitter Web App,2022-06-14T14:28:08.000Z,@YTSirBlack1 5. MineCraft\n4. Postman Pat: PS2...
97,4314065673,1536717093374201860,Twitter for iPhone,2022-06-14T14:28:00.000Z,babe please turn on the calming minecraft musi...
98,934646563221028864,1536717073317261313,Twitter for Android,2022-06-14T14:27:55.000Z,@coffiitser GIRL ARE YOU STILL PLAYING MINECRA...
99,1254449560925200384,1536717037380173826,Twitter for iPhone,2022-06-14T14:27:47.000Z,@SB_737 Hey sb could I take notes in your mine...

In [42]:
# metrics = pd.DataFrame(json.loads(tweets["public_metrics"].to_json()))
# metrics
# json.loads(tweets["public_metrics"].to_json())

In [43]:
users = pd.DataFrame(data["includes"]["users"])
users

,id,location,name,protected,username,verified
0,1449031849938927618,"Hell, 666 Brimstone Ave.",Loki,False,LokiTheDevil,False
1,1343812423162109953,Lmanburg,Julia5e,False,Julia5e_,False
2,2469266658,Groby,Groby,False,JSpeep,False
3,1384778605058613249,NaN,MrKaliEYT,False,MrKaliE_YT,False
4,593095677,"California, USA",octoberskyrim1995,False,kristenlowe7,False
...,...,...,...,...,...,...
94,1431476276162871297,NaN,WildGoose,False,wildgooserun,False
95,1433709059987886093,"Planet Earth, Cardiff, UK",RVF2008 (#SaveUkraine)üá∫üá¶|üéâüè≥Ô∏è‚Äçüåà|üì¶|üìÆ‚úâÔ∏è|Ô£ø|Ó®Ä|üç•,False,rvf2008,False
96,4314065673,nyc,tess,False,unponder,False
97,934646563221028864,üè≥Ô∏è‚Äç‚öß - he/she/they,Emilia,False,EmiliaNutribun,False
98,1254449560925200384,NaN,Mason,False,masondacat,False

In [44]:
tweets.to_excel(f"api_responses\{response}.xlsx")